<main>
    <div class="contacts">
        <h3>Contacts</h3>
        <p>Herrschaftsacker 2</p>
        <p>015233628685</p>
        <p>alex_todor@yahoo.com</p>
    </div>

    <div class="info">
        <h3>Information</h3>
        <a routerLink="/about">About us</a>
        <a routerLink="">Delivery Information</a>
        <a routerLink="">Privacy Policy</a>
        <a routerLink="">Terms & Conditions</a>
        <a routerLink="">Contact us</a>
    </div>

    <div class="services">
        <h3>Service</h3>
        <a routerLink="">Returns</a>
        <a routerLink="">Site Map</a>
        <a routerLink="">Wish List</a>
        <a routerLink="">My Account</a>
        <a routerLink="">Order History</a>
    </div>

    <div class="newsletter">
        <h3>Newsletter</h3>
        <p>Subscribe for our newsletter</p>
        <button>subscribe</button>
    </div>
</main>