main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 10vh;

    button{
        border: none;
        background-color: #696eab;
        color: white;
        padding: 10px 30px;
        cursor: pointer;

        &:hover{
            background-color: #55598c;
        }
    }
}