<main>
    <h1>Book your dream now!</h1>
    <div class="all-cards">
        <div *ngFor="let countr of service.countries" class="card" (click)="openBookDetails()">
            <img src="{{ countr.img }}" alt="">
            <div class="card-info">
                <h3>{{ countr.name }}</h3>
                <p>{{ countr.text }}</p>
                <!--<p>{{ countrName.price }}</p>-->
            </div>
            <button class="book-btn">Book now for {{ countr.price }}</button>
        </div>
    </div>
</main>