<main>
    <!--<button (click)="goHome()" class="home-btn" mat-fab color="primary">
        <mat-icon>home</mat-icon>
    </button>-->
    <form [formGroup]="form" (ngSubmit)="send()">
        <div class="form-div">
            <h3>Contact us</h3>
            <div class="all-name-div">
                <div class="name-div">
                    <input formControlName="name" type="text" placeholder="Name" id="name">
                    <ng-container *ngIf="form.controls['name'] as name">
                        <p class="validation" *ngIf="name.errors?.['required'] && name.touched">Name is required*</p>
                        <p class="validation" *ngIf="name.errors?.['minlength']">There must be at least two characters</p>
                        <p class="validation" *ngIf="name.errors?.['maxlength']">There can be a maximum of twenty characters</p>
                    </ng-container>
                </div>

                <div class="lastname-div">
                    <input formControlName="lastName" type="text" placeholder="Last Name">
                    <ng-container *ngIf="form.controls['lastName'] as lastname">
                        <p class="validation" *ngIf="lastname.errors?.['required'] && lastname.touched">Last Name is required*</p>
                        <p class="validation" *ngIf="lastname.errors?.['minlength']">There must be at least two characters</p>
                    </ng-container>
                </div>

                <div class="email-div">
                    <input formControlName="email" type="email" placeholder="Email">
                    <ng-container *ngIf="form.controls['email'] as email">
                        <p class="validation" *ngIf="email.errors?.['required'] && email.touched">Email is required*</p>
                        <p class="validation" *ngIf="email.errors?.['pattern']">Email is invalid</p>
                    </ng-container>
                </div>

                <div class="phone-div">
                    <input formControlName="number" type="number" placeholder="Phone number" min="0">
                    <ng-container *ngIf="form.controls['number'] as number">     
                        <p class="validation" *ngIf="number.errors?.['pattern']">Phone number is invalid</p>
                    </ng-container>
                </div>
            </div>

            <button [disabled]="form.invalid" (click)="send()">Contact</button>
        </div>
        <div class="info">
            <h3>Learn more</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga itaque eos quo possimus nulla pariatur
                porro corporis blanditiis neque excepturi non quam sequi dignissimos quae optio doloribus, voluptas
                deserunt ipsum!</p>
        </div>
    </form>
</main>