main {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;

    .home-btn {
        position: absolute;
        top: 40px;
        left: 40px;
        background-color: #696eab;
    }

    form {
        display: flex;
        justify-content: space-between;
        width: 60%;
        height: 60vh;
        box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.267);
        background-color: white;
        border-radius: 15px;
        overflow: hidden;

        .form-div {
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            align-items: center;
            flex: 1;

            label {
                color: #696eab;
            }

            .all-name-div {
                width: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
            }

            h3 {
                color: #696eab;
                font-weight: 500;
            }

            .name-div {
                width: 50%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                margin: 10px 0px;

                .validation{
                    font-size: 12.5px;
                    color: #696eab;
                }

                input {
                    border: none;
                    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.186);
                    border-radius: 25px;
                    padding: 10px;
                    width: 100%;
                    margin: 10px 0px;
                }
            }

            .lastname-div {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                width: 50%;
                margin: 10px 0px;

                .validation{
                    font-size: 12.5px;
                    color: #696eab;
                }

                input {
                    border: none;
                    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.186);
                    margin: 10px 0px;
                    border-radius: 25px;
                    padding: 10px;
                    width: 100%;
                    margin: 10px 0px;
                }
            }

            .email-div {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                width: 50%;
                margin: 10px 0px;

                .validation{
                    font-size: 12.5px;
                    color: #696eab;
                }

                input {
                    border: none;
                    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.186);
                    border-radius: 25px;
                    padding: 10px;
                    width: 100%;
                    margin: 10px 0px;
                }
            }

            .phone-div {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                width: 50%;
                margin: 10px 0px;

                .validation{
                    font-size: 12.5px;
                    color: #696eab;
                }

                input {
                    border: none;
                    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.186);
                    border-radius: 25px;
                    padding: 10px;
                    width: 100%;
                    margin: 10px 0px;
                }
            }

            button {
                padding: 15px 60px;
                border-radius: 25px;
                border: none;
                background-color: #696eab;
                color: white;
                cursor: pointer;

                &:hover {
                    background-color: #9198e5;
                }
            }
        }

        .info {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: center;
            padding: 40px;
            width: 30%;
            background: linear-gradient(#696eab, #9198e5);
            height: 100%;
            border-radius: 15px;
            color: white;

            h3 {
                font-size: 32px;
                font-weight: 300;
            }
        }
    }
}